html {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	background-color: #000000;
	height: 100%;
	width: 100%;
}

.header {
	background-color: rgba(0, 0, 0, 45%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px #ffffff;
}

.main {
	width: 700px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 150px auto;
	padding: 50px;
	text-align: center;
}

#m_logo {
	width: 35px;
	height: 35px;
	float: left;
}

#logo {
	height: 55px;
	width: 60px;
	float: left;
}

.header h1 {
	margin: 7px 10px 0 10px;
	float: left;
}

.header h3 {
	float: left;
	margin: 7px 7px 0 5px;
}

.div1 {
	color: #ffffff;
	position: absolute;
	cursor: pointer;
	top: 0;
	bottom: 0;
}

.div2 {
	cursor: pointer;
	height: 55px;
	float: right;
}

.div1:hover, .div2:hover {
	background-color: #ffffff;
	color: #000000;
	-webkit-transition: color 0.3s;
	transition: background-color 0.3s ease-in-out;
}

.header #m_user, .m_img {
	height: 30px;
	width: 30px;
	float: right;
	margin-top: 3px;
	margin-right: 2px;
}
